<!doctype html>
<html lang="en" ng-app="worlDataApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A webtool to pull World Bank data and allow R computation on the same.">

        <title> World Data through R </title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="static/css/side-menu.css">
    <link rel="stylesheet" href="static/css/pure_style.css">
    <link rel="stylesheet" media="screen" href="http://handsontable.com/dist/handsontable.full.css">
</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="#">
                wo(R)ldata
            </a>
            <ul>
                <li class="menu-item-divided pure-menu-selected"><a href="#"> Choose </a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>woRldata</h1>
            <h2> World Bank Data through R </h2>
        </div>

        <div class="content" id="choose" ng-controller="chooseController">
            <h2 id="choice" class="content-subhead"> Choose your data </h2>
            <p>
                Pick from 15200 indicators on the World Bank API here.
            </p>
            <br />
            <p>
            <div class="pure-control-group">
                <form class="pure-form pure-form-aligned" id="choiceForm">
                    <fieldset>
                        <label for="numIndsIn"> Number of Indicators </label> &nbsp;&nbsp;
                        <input ng-init="numInds = 2;" ng-model="numInds" id="numIndsIn" type="range" class="pure-u-2" min="2" max="10"
                                ng-change="updateInds(numInds)" />

                        &nbsp; {{ numInds|angular }}
                        </fieldset>
                 </form>

                 <form class="pure-form pure-form-aligned">
                     <fieldset ng-repeat="n in range(1, numInds)">
                        <legend> Indicator {{ n|angular }} </legend>

                        <div class="pure-control-group">
                        <br />
                        <label for="ind-{{ n|angular }}"> Category &nbsp;&nbsp; </label>
                            <select ng-model="dataVariables[n]['cat']" ng-change="getCatIndicators(dataVariables[n]['cat'])">
                                 <option ng-repeat="item in categories | orderBy: 'cat_id'" value={{ item.cat_id|angular }}>
                                   {{ item.cat_id|angular }}. {{ item.cat_name|angular }} </option>
                            </select>
                        </div>

                        <div ng-if="dataVariables[n]['cat']" class="pure-control-group">
                        <label for="ind-{{ n|angular }}"> Indicator &nbsp;&nbsp; </label>
                        <select ng-model="dataVariables[n]['ind']" ng-change="setIndicatorAndFetch(n)">
                               <option ng-repeat="(key,item) in getLocalCatIndicators(dataVariables[n]['cat'])" value="{{ key | angular }}"> {{ key | angular }} - {{ item.name | angular }} </option>
                        </select>
                        </div>

                        <div ng-if="dataVariables[n]['ind']" class="pure-controls">
                            <div class="pure-g">
                                <div class="pure-u-1-3">
                                    <label for="from-{{ n|angular }}"> From Year </label>
                                    <select ng-model="dataVariables[n]['from']" >
                                         <option ng-repeat="item in range(2010, 2015, 1)"> {{ item | angular }} </option>
                                    </select>
                                </div>
                                <div class="pure-u-1-3">
                                <label for="to-{{ n|angular }}"> To Year </label>
                                    <select ng-model="dataVariables[n]['to']" ng-if="dataVariables[n]['from']">
                                         <option ng-repeat="item in range(dataVariables[n]['from'], 2015, 1)"> {{ item | angular }} </option>
                                    </select>
                                </div>
                                <div class="pure-u-1-3">
                                    <button type="submit" class="pure-button pure-button-primary"  ng-click="getData(n)"> Get and preview! </button>
                                </div>
                            </div>
                        </div>
                        <div style="padding: 5%; text-align: center">
                            <div class="handsontable" id="table-{{ n|angular }}"></div>
                        </div>

                     </fieldset>
                 </form>
            </div>
            </p>

            <h2 class="content-subhead"> Push these variables ... </h2>
            <p>
                Once done, you can commit these variables for analysis here:
            </p>
            <button id="finalGet" type="submit" class="pure-button pure-button-primary"  ng-click="getData()"> Commit! </button>

        </div>
    </div>
</div>

<script src="static/js/angular.min.js"></script>
<script src="static/js/ui.js"></script>
<script src="static/js/jquery-1.11.2.min.js"></script>
<script src="static/js/main/main.js"></script>
<script src="http://handsontable.com/dist/handsontable.full.js"></script>

</body>
</html>

<!-- TODO: Show more stuff about variables. -->